{% macro rating(value, stars = 5) %}
<span class="stars">
    {% for star in 1..stars %}
    <i class="icon icon-star{% if star > value %}-empty{% endif %}" aria-hidden="true"></i>
    {% endfor %}
    <span>{{ value }} of {{ stars }} stars</span>
</span>
{% endmacro %}

{% import _self as macros %}

<div class="reviews">
    {% for review in __SELF__.reviews %}
    <figure class="review">
        <header>
            <h2>{{ review.title }}</h2>
        </header>
        <div class="rating">
            {{ macros.rating(review.rating) }}
        </div>
        <blockquote>{{ review.content }}</blockquote>
        <footer>
            <cite>{{ review.name }}</cite>
        </footer>
    </figure>
    {% endfor %}
</div>
